<%- include("Header"); -%>
<title>Admin</title>

<%- include("cdn_Files"); -%>

<!-- Custom CSS -->
<link rel="stylesheet" href="css/admin.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body onload="myfung()">
  <div id="Loading">
  </div>
