<!-- Header files -->
<%- include("Header"); -%> 

    <title>Blood Management System</title>

    <!-- All CDN Included -->
    <%- include("cdn_Files"); -%> 

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/home.css">
    <!-- <link rel="stylesheet" href="css/background.css"> -->
    
</head>
<body>