<%- include("Header"); -%>
<title>Recipient</title>

<%- include("cdn_Files"); -%>

<!-- Custom CSS -->
<link rel="stylesheet" href="css/Donor.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
