<%- include("Header"); -%> 
    <title>Status</title>

    <%- include("cdn_Files"); -%> 

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/status.css">
    <link rel="stylesheet" href="css/common.css">

</head>
<body>