<%- include("partials/Confirmation"); -%>

<!-- Code Goes Here -->
    <div class="row">
        <div class="col col-lg-1">
            <div class="container nav-back-button">
                <form action="/" method="get">
                    <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                </form>
            </div>
        </div>
        <div class="col col-lg-11">
            <div class="container head">
                Blood Management System
            </div>
        </div>
    </div>
    <div class="container-fuild">
        <img src="images/success.gif" alt="" class="image">
    </div>
    <div class="container-fluid message">
        Succesfully Sent Apointment Request
    </div>
    <div class="container-fluid crack">
        <div class="container-fluid id">
            <span id="id">ID:</span> &nbsp;<span id="code"><%= ID %></span>
        </div>
    </div>
</body>
</html>
