<%- include("partials/Donor"); -%>

<!-- Code Goes Here -->
<div class="contianer-fluid">
    <div class="row">
        <div class="col col-lg-1">
            <div class="container nav-back-button">
                <form action="/" method="get">
                    <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                </form>
            </div>
        </div>
        <div class="col col-lg-11">
            <div class="container head">
                Donor - <%= pincode %>
            </div>
        </div>
    </div>


    <div class="container list">
        <div class="row box">
            <div class="col col-lg-7" id="address">
                <div id="Hospital-Name">
                    ABC HOSPITAL
                </div>
                01A, Delhi - 141002
            </div>
            <div class="col col-lg-3" id="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="col col-lg-2" id="button">
                <form action="/donor-form" method="get">
                    <button class="btn btn-light">Select</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
