<!-- Header files -->
<%- include("partials/Header"); -%> 

    <title>Blood Management System</title>

    <!-- All CDN Included -->
    <%- include("partials/cdn_Files"); -%> 

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/home.css">
    <!-- <link rel="stylesheet" href="css/background.css"> -->
    
</head>
<body>
    <div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-9 exp1">
                <div class="head">
                    Blood Management System
                </div>
                <hr>
                <div class="container table-home">
                    <div class="row home-table-head">
                        <div class="col col-lg-6" id="donor">Donor</div>
                        <div class="col col-lg-6" id="recipient">Recipient</div>
                    </div>
                    <hr>
                    <div class="row home-table-content">
                        <div class="col col-lg-6">
                            <p class="head-content">Pincode</p>
                            <form action="/donor" method="post">
                                <input type="text" class="form-control" name="pincode" id="pincode" placeholder="141002">
                                <p class="hints">Search hospitals in your area to donate.</p>
                                <button class="btn btn-primary submit-btn" type="submit">Register</button>
                            </form>
                        </div>
                        <div class="col col-lg-6">
                            <p class="head-content">Blood Group</p>
                            <form action="/recipient" method="post">
                                <input type="text" class="form-control" name="bloodGroup" id="bloodGroup" placeholder="O+, A+, B+, ..">
                                <p class="hints">Search blood available in the hospitals.</p>
                                <button class="btn btn-danger submit-btn" type="submit">Check</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3" id="right">
                <div class="status">
                    <!-- <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 5.0; animation-duration: 2s;"></i><br><br> -->
                    <form action="/" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                            <input type="text" class="form-control" placeholder="Enter ID">
                        </div>
                        <button class="btn btn-primary">Check Status</button>
                    </form>
                    <div id="admin">
                        <form action="/admin" method="get">
                            <button class="btn btn-dark">Admin</button>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="news">
                    <p id="news-head">
                        News
                    </p>
                    <div class="news-content">
                        <div class="news-box">
                            <p>Biggest threat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>