<%- include("Partials/Home"); -%> 

<div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12 background-container">
                <div class="head">
                        <div class="head-title">
                            <i class="fa-solid fa-staff-aesculapius" style="color: #000000;"></i>
                            Blood Management System
                        </div>
                        <div class="head-menu">
                            <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample">
                                <div class="offcanvas-header">
                                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                                  <button type="button" data-bs-dismiss="offcanvas" id="close"><i class="fa-solid fa-xmark fa-3x"></i></button>
                                </div>
                                <div class="offcanvas-body">
                                  <div>
                                    <div id="status">
                                        <form action="/" method="post">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text"><i class="fa-solid fa-hashtag fa-2x"></i></span>
                                                <input type="text" class="form-control" id="id" placeholder="Enter ID">
                                            </div>
                                            <button class="btn btn-primary">Check Status</button>
                                        </form>
                                        <div id="admin">
                                            <form action="/admin-login" method="get">
                                                <button class="btn btn-dark">Admin</button>
                                            </form>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
                <div class="container-fluid table-home">
                    <div class="row home-table-head">
                        <div class="col col-lg-6" id="donor">Donor</div>
                        <div class="col col-lg-6" id="recipient">Recipient</div>
                    </div>
                    <br>
                    <div class="row home-table-content">
                        <div class="col col-lg-6 col-md-12">
                            <p class="head-content">Pincode</p>
                            <form action="/donor" method="post">
                                <input type="text" class="form-control" name="pincode" id="pincode" placeholder="141002">
                                <button class="btn btn-primary submit-btn" type="submit">Register</button>
                            </form>
                        </div>
                        <div class="col col-lg-6 col-md-12">
                            <p class="head-content">Blood Group</p>
                            <form action="/recipient" method="post">
                                <input type="text" class="form-control" name="bloodGroup" id="bloodGroup" placeholder="O+, A+, B+, ..">
                                <button class="btn btn-danger submit-btn" type="submit">Check</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>