<%- include("partials/Recipient"); -%> 

<!-- Code Goes Here -->
<div class="contianer-fluid">
    <div class="row">
        <div class="col col-lg-1">
            <div class="container nav-back-button">
                <form action="/" method="get">
                    <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                </form>
            </div>
        </div>
        <div class="col col-lg-11">
            <div class="container head">
                Blood Management System
            </div>
        </div>
    </div>

    <!-- Title of the page -->
    <div class="container title">
        Donor - {Pincode}
    </div>   
    
    <div class="container list">
        <div class="row box">
            <div class="col col-lg-7" id="address">
                ABC HOSPITAL <br>
                01A, Delhi - 141002
            </div>
            <div class="col col-lg-3" id="rating">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="col col-lg-2" id="button">
                <form action="/" method="get">
                    <button class="btn btn-primary">Select</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>