<%- include("partials/Recipient"); -%> 

<!-- Code Goes Here -->
<div class="contianer-fluid">
    <div class="row">
        <div class="col col-lg-1">
            <div class="container nav-back-button">
                <form action="/" method="get">
                    <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                </form>
            </div>
        </div>
        <div class="col col-lg-11">
            <div class="container head">
                Blood Management System
            </div>
        </div>
    </div>

    <!-- Title of the page -->
    <div class="container title-form" id="Hospital-Form">
        {Hospital Name} <br>
        ID: {ID}
    </div>  
</div>


</body>
</html>