<%- include("partials/Status"); -%>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-1">
                <div class="container nav-back-button">
                    <form action="/" method="get">
                        <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                    </form>
                </div>
            </div>
            <div class="col col-lg-11">
                <div class="container head">
                    Status
                </div>
            </div>
        </div>

<!-- Details -->
    <div class="container box">
        <div class="row">
            <div class="col col-lg-9" id="left">
                <b>ID:</b> DOABC4102011001<br> <br>
                <b>Name:</b> John<br>
                <b>Date:</b> 30/02/2022 <br>
                <b>Time:</b> 10:30 - 13:00 <br>
                <b>Address:</b> ABC, Delhi-410221
            </div>
            <div class="col col-lg-3" id="right">
                <!-- <i class="fa-solid fa-person-circle-check fa-2x"></i>
                <br>
                Approved  -->
                <div class="row"><br></div>
                <div class="row"><br></div>
                <div class="row"><div class="col"><i class="fa-solid fa-person-circle-check fa-2x"></i></div></div>
                <div class="row"><br></div>
                <div class="row"><div class="col" id="text-status">Approved</div></div>
            </div>
        </div>
    </div>
</body>
</html>
