<%- include("partials/Status"); -%> 

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-1">
                <div class="container nav-back-button">
                    <form action="/" method="get">
                        <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                    </form>
                </div>
            </div>
            <div class="col col-lg-11">
                <div class="container head">
                    Blood Management System
                </div>
            </div>
        </div>
        
<!-- Title of the page -->
    </div>
    <div class="container title">
        Status
    </div>

<!-- Details -->
    <div class="container box">
        <div class="row">
            <div class="col col-lg-9" id="left">
                ID: {ID}<br> <br>
                Name: {Name}<br>
                Date: {DD/MM/YYYY} <br>
                Time: {HH:MM - HH:MM} <br>
                Address: {Address} 
            </div>
            <div class="col col-lg-3" id="right">
                <!-- <i class="fa-solid fa-person-circle-check fa-2x"></i>
                <br>
                Approved  -->
                <div class="row"><br></div>
                <div class="row"><br></div>
                <div class="row"><div class="col"><i class="fa-solid fa-person-circle-check fa-2x"></i></div></div>
                <div class="row"><br></div>
                <div class="row"><div class="col" id="text-status">A</div></div>
            </div>
        </div>
    </div>
</body>
</html>