button{
    border: 0;
    background-color: #ca8e74;
}
body{
    background-color: #ca8e74;
    text-align: center;
}
.nav-back-button{
    margin-top: 2.4rem;
}
.head{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 50px;
    border-radius: 10px;
    opacity: 90%;
    background-color: rgb(255, 23, 0);
    margin-left: 0;
}
