.list{
    text-align: center;
    width: 50%;
}

.box{
    margin: auto;
    margin-top: 2rem;
    background-color: #420516;
    border-radius: 10px;
}
/* LIST */

#address{
    font-size: 30px;
    text-align: justify;
    color: #ae8b4c;
}
#Hospital-Name{
    color: #60b372;
    font-weight: 500;
    text-transform: uppercase;
}
#rating{
    margin-top: 1.8rem;
    text-align: left;
    color: #A85CF9;
}
#button{
    margin-top: 1.5rem;
}

/* FORM */
#form-box{
  border-radius: 10px 10px 0 0;
  margin-top: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  width: 70%;
  color: #fff;
  background-color: #125B50;
  padding: 2rem;
}
#terms{
  background-color: #1b1b1b;
  width: 70%;
  color: #dfb2b2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0 0 10px 10px;
}
#terms-checkbox{
  margin-top: 0.5rem;
  width: 20px;
  height: 20px;
}
.term-col{
  font-size: 20px;
}
.form-group{
  margin-top: 1rem;
}
