b{
  color: #cea25c;
}
.container-fluid{
    padding: 0;
}
.box{
    margin-top: 4rem;
    width: 50%;
    font-size: 35px;
    background-color: #1b1b1b;
    border-radius: 10px;
}

#left{
    text-align: left;
    color: #ae8b4c;
}
#right{
    text-align: center;
    color: #fff;
    border-left: 1px solid yellow;
}
#text-status{
    font-size: 30px;
    color: #60b372;
}
